.header {
  background-color: red;
  color: white;
  height: 150px;
}
.menu {
  height: 400px;
  background-color: seagreen;
  color: white;
}
.content {
  height: 400px;
  background-color: violet;
  color: black;
}
.footer {
  height: 200px;
  background-color: greenyellow;
  color: blueviolet;
}
